.about-text {
    width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61px;    
}
.view-services{
    padding: 20px 40px;
    line-height: 67px;
    font-size: 20px;
    background-color: #ad1818;
    text-decoration: none;
    border-radius: 5px;
    color: #ffffff;
}
@media (max-width: 1199px) {
    .about-text{
        width: 690px;
        font-size: 35px;
        line-height: 48px;
    }
    #about{
        margin-bottom:120px;
    }
    
}
@media (max-width: 959px) {
    .about-text {
        width: 80%;
    }
    
}
@media (max-width: 767px) {
    #about {
        margin-bottom: 80px;
    }
    .about-text {
        font-size: 22px;
        line-height: 30px;
        width: 98%;
    }
    .view-services{
        font-size: 16px;
        line-height: 50px;
        padding: 14px 28px;
    }
}