#contacts h2{
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contacts__wrapper{
    display: flex;
}
.contacts__item{
    width: calc(50% - 0px);
}
.contacts__item-phone::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/phone_icon.png);
    margin-bottom: 22px;
    margin-left: -6px;
}
.contacts__item-phone  {
    font-size: 60px;
    margin-bottom: 28px;
    color: #121212;
    text-decoration: none;
}
.contacts__item-email::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/email_icon.png);
    margin-bottom: 20px;
    margin-left: 3px;
}
.contacts__item-email {
    font-size: 60px;
    color: #121212;
    text-decoration: none;
    border-bottom: 2px solid #121212;
    opacity: 0.5;
}
