.contacts h2{
    margin-bottom: 25px;
    text-transform: uppercase;
}
.contacts__wrapper{
    display: flex;
    gap:108px;
}
.contacts__phone::before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(../images/phone_icon.png);
    margin-bottom: 25px;
    margin-left: -6px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts__phone-link  {
    font-size: 60px;
    color: #121212;
    text-decoration: none;
}
.contacts__email{
    margin-top: 4px;
}
.contacts__email::before {
    content: '';
    display: block;
    width: 20px;
    height: 16px;
    background-image: url(../images/email_icon.png);
    margin-bottom: 18px;
    margin-left: 3px;
    background-size: contain;
    background-repeat: no-repeat;
}
.contacts__email-link {
    font-size: 60px;
    color: #121212;
    text-decoration: none;
    border-bottom: 2px solid #121212;
    opacity: 0.5;
}
@media (max-width: 1199px) {
    .contacts {
        margin: 0 auto 128px;
    }
    .contacts__wrapper {
        gap: 116px;
    
    }
    .contacts__phone-link,.contacts__email-link  {
        font-size: 45px;
    }
    .contacts__phone::before {
       margin-bottom: 33px;
    }
    .contacts__email::before {
        margin-bottom: 26px;
    }
}
@media (max-width: 767px) {
    .contacts {
        margin: 0 auto 80px;
    }
        .contacts h2{
        margin-bottom: 20px;
    }
    .contacts__wrapper {
        gap: 19px;
        flex-direction: column;
    }
    .contacts__phone::before {
        margin-bottom: 20px;
        width: 18px;
        height: 18px;
    }
    .contacts__phone-link  {
        font-size: 35px;
        line-height: 46px;
    }
    .contacts__email::before {
        margin-bottom: 24px;
        width: 15px;
        height: 12px;
    }
    .contacts__email-link {
        font-size: 35px;
        line-height: 46px;
    }
}