.first-screen h1{
    margin-bottom: 30px;
    width: 956px;  
}
.first-screen-image{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../images/main_image.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.first-screen-image p {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    color: #ffffff;
}
@media (max-width: 1199px) {
    .first-screen h1{
        width: 802px;
        font-size: 50px;
    }
    .first-screen-image{
        height: 400px;
    }
    .first-screen-image p {
        bottom: 30px;
    }
    .first-screen{
        margin-bottom: 120px;
    } 
}
@media (max-width: 959px) {
    .first-screen-image{
    background-image: url(../images/main_image_928.png);
    }
    .first-screen-image{
        height: 400px;
    }
}
@media (max-width: 767px) {
    .first-screen h1{
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 32px;
        width: 96%;
    }
    .first-screen-image{
        height: 304px;
        background-position: 25%;
        margin-bottom: 80px;
    }
    .first-screen-image p {
        bottom: 15px;
        left: 15px;
        font-size: 16px;
        line-height: 22px;  
        width: 70%; 
    }
    .first-screen {
        margin-bottom: 80px;
    }
}
@media (max-width: 400px) {
    .first-screen-image{
        background-image: url(../images/main_image_350.png);
    }
    .first-screen-image p {
        width: 89%;
    }
}