.footer {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #121212;
}
.footer__inner {
    width: 460px;
    margin: 0 auto;
}
.nav {
    margin-bottom: 87px;
    display: flex;
    gap: 55px;
}
.nav__link{
    color: #ffffff;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav__link:hover {
    opacity: 0.5;
}  
.nav__link:active {
    opacity: 0.5;
}  
.nav__link:last-child {
    margin-right: 0;
}
.copyright {
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
}