.header {
    padding: 33px 0 70px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
}
.header__nav {
    display: flex;
    gap: 60px;
}
.header__link {
    color: #121212;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
.header__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}  
.header__link:active {
    opacity: 0.5;
}  

@media (max-width: 1199px) {
    .header {
    padding-left: 17px;
    padding-right: 17px;
}
  .header__nav {
    display: none;
  }
  .burger {
    font-size: 25px;
    line-height: 34px;
    color: #000000;
  }
     
}
  
  @media (max-width: 767px) {
    
.header {
    padding-left: 13px;
    padding-right: 13px;
}
    .logo-link {
      width: 96px;
      height: 16px;
    }
  }
  