.header {
    padding: 33px 0 70px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav {
    display: flex;
    gap: 60px;
}
.header__link {
    color: #121212;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
}
.header__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}  
.header__link:active {
    opacity: 0.5;
}  

@media (max-width: 1199px) {
    .burger {
      font-size: 25px;
      line-height: 34px;
      color: #000000;
    }
  
    
  }
  
  @media (max-width: 767px) {
    .header__nav {
        display: none;
      }
    .logo-link {
      width: 96px;
      height: 16px;
    }
  }
  