.body_fixed {
    overflow: hidden;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}
.popup_open {
    opacity: 1;
    visibility: visible;
}
.popup__content {
    position: relative;
    padding: 94px 79px 86px 55px;
    width: 777px;
    max-height: 100%;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
}
.popup__close-btn {
    position: absolute;
    right: 45px;
    top: 45px;
    width: 30px;
    height: 30px;
    background-image: url(../images/popup-close-button.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
.popup__close-btn:hover {
    opacity: 0.5;
}
.popup__header {
    margin-bottom: 4px;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    color: #000000;
}
.popup__subheader {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}
@media (max-width: 1199px) {
    .popup__close-btn {
      right: 44px;
    }
}
@media (max-width: 767px) {
    .popup__content {
        padding: 80px 24px 80px 16px;
    }
    .popup__close-btn {
        top: 40px;
        right: 29px;
        width: 18px;
        height: 18px;
        background-image: url(../images/popup-close-button-mobile.png);
    }
    .popup__header {
        margin-bottom: 11px;
        font-size: 25px;
        line-height: 34px;
    }
    .popup__subheader {
        margin: 0 auto 56px;
        width: 209px;
        font-size: 14px;
        line-height: 19px;
    }
}
  