@import url(first-screen.css);
@import url(about.css);
@import url(projects.css);
@import url(services.css);
@import url(testimonials.css);

html {scroll-behavior: smooth;}
body {
    font-family: 'Manrope', sans-serif;
}
section {
    margin: 0 auto 150px;
    width: 1150px;
}
p, h1, h2, h3, a, div {
    letter-spacing: -0.03em;
} 
p {
    font-size: 20px;
    line-height: 27px;
}
h1 {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    width: 956px;    
}
h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
}


.full-width {
    min-width: 1150px;
    height: 717px;
    background-image: url(../images/bottom_image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;

}
.full-width-wrapper {
    width: 1150px;
    margin: 0 auto;
}
.full-width p {
    width: 443px;
    position: absolute;
    bottom: 60px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    
}

@media (max-width: 1199px) {
    section{
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
    h1{
        width: 802px;
        font-size: 50px;
    }
}  
@media (max-width: 959px) {
    section{
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
    
}

@media (max-width: 767px) {
    section{
        padding-left: 13px;
        padding-right: 13px;
    }
    h1{
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 32px;
        width: 96%;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
    
}