@import url(first-screen.css);
@import url(about.css);
@import url(projects.css);
@import url(services.css);
@import url(testimonials.css);
@import url(gallery.css);
@import url(contacts.css);
@import url(footer.css);
@import url(popup.css);

html {scroll-behavior: smooth;}
body {
    font-family: 'Manrope', sans-serif;
}
section {
    margin: 0 auto 150px;
    width: 1150px;
}
p, h1, h2, h3, a, div {
    letter-spacing: -0.03em;
} 
p {
    font-size: 20px;
    line-height: 27px;
}
h1 {
    font-size: 60px;
    line-height: 60px;
}
h2 {
    font-size: 18px;
    line-height: 25px;
}
h3 {
    font-size: 30px;
}
@media (max-width: 1199px) {
    section{
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
}  
@media (max-width: 959px) {
    section{
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }
}
@media (max-width: 767px) {
    section{
        padding-left: 13px;
        padding-right: 13px;
    }
    h2 {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
}